body {
    font-family: Georgia;
    margin: 0;
    background-color: white;
    background-image:url("/image/hong.jpg");
    background-size: contain;
    background-position:auto;
    height: auto;
    
    
}

header {
    
    color: rgb(19, 5, 5);
    text-align: center;
    padding: 15px;
}

nav a {
    color: rgb(20, 19, 19);
    margin: 10px;
    text-decoration: none;
}

a:hover {
color: rgb(78, 43, 3);
}

main {
    padding: 20px;
}


.contact{
    background-color: rgb(164, 163, 163);
    border-radius: 25px;
    height:270px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    padding-top: 50px;
    width: 80%;
    margin-left:10%;

}

footer {
    background-color: rgba(118, 42, 7, 0.973);
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    nav {
        display: block;
    }
}

.index{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(58, 57, 59);
text-align: center;


}
